body { /* Основной шрифт текста */
    font-family: Verdana, Arial, sans-serif;
    font-size: 10pt;
}
#leftbar { /* Навигация по сайту */
    width: 200px;
    float: left;
}
#content { /* Основное содержание страницы */
    margin-left: 215px;
    margin-bottom: 15px;
}
#footer { /* Нижняя часть */
    clear: left;
}
#contact { /* Контактная информация */
    float: left;
    padding: 0px;
    text-align: left;
}
H1 { /* Заголовок страницы */
    text-align: center;
    font-size: 220%;
    font-family: "Times New Roman", Times, serif;
    font-weight: normal;
    color: black;
    padding: 0px;
    margin: 0px;
}
#content P { /* Стиль основного текста */
    font-size: 90%;
    text-align: justify;
    padding: 10px;
    margin: 0px;
}
#contact P { /* Стиль контактов */
    font-size: 80%;
    padding: 5px;
    margin-top: 0px
}
.errorblock{
    color:red;
    border:solid red;
}
.bodyCl{
    background: url("/resources/images/bg6.jpg") repeat scroll 0 0 #e4e8eb;
    /*#eaf1fc;*/

}
.owntext {
    background: url("/resources/images/textbox100.gif") no-repeat scroll 0 0 transparent;
    border: medium none;
    color: #000000;
    font-size: 12px;
    height: 16px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-top: 2px;
    width: 100px;
}
.table{
    display: table;
    width: 100%;
    text-align: center;
    border: 1px solid #d3d3d3;
}
.column{
    display: table-cell;
    border: 1px solid #d3d3d3;
    text-align: left;
    padding-left: 10px;

}
.columnH{
    text-align: center;
    font-weight: bold;
}
.minH{
    width: 150px;
}
.row{
    display: table-row;
}
.buttonPanel{
    display: inline-block;
}
.button{
    float: left;
}
.buttonPanelR{
    padding-right: 100px;
    padding-top: 30px;
    text-align: right;
}
.formEl{
    text-align: right;
    width: 300px;
}
.shadowblock{
    background: url("/resources/images/line_shadow_m.png") no-repeat scroll center top transparent;
    font-size: 8px;
    margin-top: -3px;
}
