<?xml version='1.0' encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration>

    <appender name="A_CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <param name="target" value="System.out"/>
        <!--<param name="Encoding" value="cp1251" />-->
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%4p] %m %n"/>
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="DEBUG"/>
            <!--<param name="LevelMax" value="INFO"/>-->
        </filter>
    </appender>

    <appender name="A_CONSOLE_ERROR" class="org.apache.log4j.ConsoleAppender">
        <param name="target" value="System.err" />
        <param name="Encoding" value="cp1251" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{ISO8601} [%5p] %c %m at %l%n" />
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="ERROR" />
            <param name="LevelMax" value="ERROR" />
        </filter>
    </appender>

    <appender name="a_file" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="logs/webf.log" />
        <param name="MaxFileSize" value="2MB" />
        <param name="MaxBackupIndex" value="2" />
        <!--<param name="Encoding" value="windows-1251" />-->
        <param name="Encoding" value="UTF-8" />
        <layout class="org.apache.log4j.EnhancedPatternLayout">
            <param name="ConversionPattern" value="%d{ISO8601} [%-5p][%-10.10t][%12c{-5}] %X{server.context} - %m%n" />
        </layout>
    </appender>


    <logger name="rw.ktc" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="a_file"/>
        <appender-ref ref="A_CONSOLE_ERROR"/>
        <appender-ref ref="A_CONSOLE"/>
    </logger>

    <!--<logger name="rw" additivity="false">-->
        <!--<level value="DEBUG"/>-->
        <!--<appender-ref ref="a_file"/>-->
    <!--</logger>-->
    <logger name="org.hibernate" additivity="false">
        <level value="error"/>
        <appender-ref ref="A_CONSOLE_ERROR"/>
        <appender-ref ref="A_CONSOLE"/>
    </logger>

    <logger name="org.hibernate.SQL" additivity="false">
        <!--<level value="debug"/>-->
        <level value="error"/>
        <appender-ref ref="A_CONSOLE_ERROR"/>
        <appender-ref ref="A_CONSOLE"/>
    </logger>

    <logger name="org.apache.tiles" additivity="false">
        <level value="ERROR"/>
        <appender-ref ref="A_CONSOLE_ERROR"/>
        <appender-ref ref="A_CONSOLE"/>
    </logger>

    <logger name="org.springframework" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="A_CONSOLE_ERROR"/>
        <appender-ref ref="A_CONSOLE"/>
    </logger>

    <root>
        <priority value="INFO"/>
        <appender-ref ref="a_file"/>
        <appender-ref ref="A_CONSOLE_ERROR"/>
        <appender-ref ref="A_CONSOLE"/>
    </root>

    <!--OFF	The highest possible rank and is intended to turn off logging.-->
    <!--FATAL	Severe errors that cause premature termination. Expect these to be immediately visible on a status console.-->
    <!--ERROR	Other runtime errors or unexpected conditions. Expect these to be immediately visible on a status console.-->
    <!--WARN	Use of deprecated APIs, poor use of API, 'almost' errors, other runtime situations that are undesirable or unexpected, but not necessarily "wrong". Expect these to be immediately visible on a status console.-->
    <!--INFO	Interesting runtime events (startup/shutdown). Expect these to be immediately visible on a console, so be conservative and keep to a minimum.-->
    <!--DEBUG	Detailed information on the flow through the system. Expect these to be written to logs only.-->
    <!--TRACE	Most detailed information. Expect these to be written to logs only. Since version 1.2.12.-->

</log4j:configuration>