<?xml version="1.0" encoding="UTF-8"?>
<configuration status="ERROR">
    <appender name="a_console" class="ch.qos.logback.core.ConsoleAppender">
        <!--<withJansi>true</withJansi>-->
        <!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder
            by default -->
        <!--<target>System.err</target>-->
        <encoder>
            <!--<charset>cp866</charset>-->
            <!--<charset>cp1251</charset>-->
            <!--<charset>UTF-8</charset>-->
            <!--<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>-->
            <!-- С подсветкой но чета глючит-->
            <pattern>%d{HH:mm:ss.SSS} [%thread] %highlight(%-5level) %green(%logger{36}[%line])  - %highlight(%msg%n)</pattern>
        </encoder>
    </appender>

    <appender name="a_file" class="ch.qos.logback.core.FileAppender">
        <file>log/wf_.log</file>
        <encoder>
            <!--<charset>cp1251</charset>-->
            <charset>UTF-8</charset>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="rw.ktc" level="DEBUG" additivity="false">
        <appender-ref ref="a_file"/>
        <appender-ref ref="a_console"/>
    </logger>

    <logger name="org.springframework" level="ERROR" additivity="false">
        <appender-ref ref="a_console"/>
    </logger>

    <logger name="org.hibernate" level="ERROR" additivity="false" >
        <appender-ref ref="a_console"/>
    </logger>

    <root level="DEBUG">
        <appender-ref ref="a_console"/>
    </root>
</configuration>