<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<div class="footer">
    <p>Представленная на сайте информация носит справочный характер.<br />
        <br />
        &copy; ИД &ldquo;ДЕЙЧ&rdquo;, 2010 &ndash; Подарочные книги, дорогие издания, коллекционные книги в кожаном переплёте.<br />
        <br />
        Москва, м. Белорусская, ул. Правды, д. 1.<br />
        Эл. почта: <a href="mailto:idd@deich.ru">idd@deich.ru</a></p>

    <p>Тел/факс: (495) <strong>234-5940</strong></p>

    <div class="powered">Дизайн и разработка сайта &mdash; <a href="http://www.eurostudio.ru/" target="_blank">Евростудио</a>

        <p><a href="/sitemap.html">Карта сайта</a> / <a href="/contacts.html">Контакты</a> / <a href="/price.html">Цены</a> / <a href="http://www.one-touch.ru">Продвижение</a></p>

        <p>&nbsp;</p>

        <div class="logo_onetouch"><a href="http://www.one-touch.ru/services/support/" target="_blank" title="Поддержка сайта Digital-agency ONE TOUCH">Поддержка<br />
            сайта</a></div>

        <p>&nbsp;</p>
    </div>
</div>

</body>
</html>