@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";
@namespace components "components.*";

components|DataGridNextMX {
	textAlign:center;
}

s|Label.lUpdateForecast {
	color:#6767C6;
	paddingLeft:15;
	paddingTop:5;
	paddingBottom:5;
	fontWeight:bold;
}

s|Button.panelCloseButton {
	fontSize: 12;
    fontWeight: bold;
	color:#941311;
}

mx|VBox.ContentTab {
	paddingLeft:5px;
	paddingRight:5px;
	paddingBottom:5px;
}

global {
    fontSize: 15px;
    fontFamily: Tahoma;
    cornerRadius:3;
}

.tmpSelOne {
	fontSize: 25px;
}
	

.tmp {
 color: #808080;
}

s|DropDownList.stationName  {
    fontWeight:bold;
    color: #111d2b;
}

s|Module {
    fontFamily: Tahoma;
    fontSize: 13px;
}

mx|ToolTip {
    fontSize: 12px;
}

mx|TabBar {
    selectedTabTextStyleName: "SelectedTab";
	paddingLeft:5px;
}

.SelectedTab {
    color: #2b449e;
    textRollOverColor: #2b449e;
    fontWeight: bold;
}



