html, body {
	margin: 0px;
	padding: 0px;
	background: #140402 url(/resources/templates/book/images/inner-all-bg.jpg) repeat-y center top;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 13px;
	color: #ffffff;
}
body {
	background: #140402 url(/resources/templates/book/images/main-image.jpg) no-repeat center top;
}
body#inner {
	background: url(/resources/templates/book/images/inner-all-bg.jpg) repeat-y center 130px;
}
h1 {
	font-size: 28px;
	font-weight: normal;
	font-style: italic;
	letter-spacing: 0px;
	margin: 0px;
}
h2 {
	font-size: 24px;
	font-weight: normal;
	font-style: italic;
	letter-spacing: 0px;
	margin: 0px;
}
h3 {
	font-size: 18px;
	font-weight: bold;
	font-style: italic;
	margin: 0px;
}
ul {
	margin: 10px 0px 30px 0px;
	padding: 0px 0px 0px 20px;
	list-style: circle outside;
}
ul li {
	padding: 0px 0px 5px 0px;
}
ul.sitemap {
	margin: 10px 0px 30px 0px;
	padding: 0px 0px 0px 0px;
	list-style: none;
}
ol {
	margin: 10px 0px 30px 0px;
	padding: 0px 0px 0px 20px;
	list-style: decimal outside;
}
p {
        margin: 15px 0px;
}
.right-text {
	width: 100%;
	text-align: right;
}
a {
	color: #EDDA90;
}
a:hover {
	text-decoration: none;
}
a img {
	border: 0px;
}
hr {
	border: 0px;
	border-bottom: 1px solid #511A15;
	padding: 0px;
	margin: 30px auto;
	background: #000000;
	width: 40%;
	height: 2px;
	color: #000000;
}
div.right-col hr {
	border: 0px;
	border-bottom: 1px solid #591209;
	padding: 0px;
	background: none;
	width: 40%;
}
table {
	border-collapse: collapse;
	margin: 20px 0px;
}
table th {
	text-align: left;
	font-size: 16px;
	background: #591209;
	padding: 5px 10px;
	vertical-align: bottom;
}
table td {
	padding: 5px 10px;
	border-bottom: 1px dotted #591209;
	color: #cccccc;
	vertical-align: top;
}
.price {
	color: #EDDA90;
	font-size: 20px;
	font-style: italic;
}
.price-productlist {
    color:#FFFFFF;
    font-size:19px;
    font-weight:bold;
    font-style:italic;
    margin-right:20px;
}
input, select, textarea {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 12px;
	color: #ffffff;
	background: none;
	border: 2px solid #591209;
	padding: 3px;
}
textarea {
	overflow: auto;
}
select {
	background: #591209;
	padding: 0px;
	border: 0px;
}
label {
	font-size: 11px;
	font-style: italic;
}
input.radio-check {
	border: 0px;
	padding: 0px;
	vertical-align: middle;
	margin-right: 5px;
}
input.btn {
	border: 0px;
	margin-right: 5px;
	background: #591209;
	text-transform: uppercase;
	padding: 10px;
	cursor: pointer;
}
div.main {
	width: 100%;
	margin: 0px auto;
}
div.header {
	width: 960px;
	margin: 0px auto 428px auto;
	position: relative;
}
body#inner div.header {
	width: 100%;
	position: relative;
	background: url(/resources/templates/book/images/line-inner-bg.jpg) repeat-x left top;
	margin: 0px;
	height: 219px;
}

div.logo {
	padding: 40px 0px 8px 0px;
}
body#inner div.logo {
	padding: 15px 0px 0px 0px;
}
div.menu {
	position: absolute;
	top: 35px;
	right: 0px;
	font-size: 17px;
	width: 850px;
	text-align: right;
	overflow:hidden;
}
div.menu a {text-decoration:none;}
div.menu a:hover {text-decoration:underline;}
div.menu img {
	vertical-align: middle;
	margin: 0px 20px;
}
div.phone {
	position: absolute;
	top: 60px;
	right: 150px;
	width: 960px;
	text-align: right;
}
body#inner div.phone {
	position: absolute;
	top: 60px;
	right: 150px;
	width: 960px;
	text-align: right;
}
div.phone span {
	color: #EDDA90;
	font-size: 36px;
}
div.tagline {
	position: absolute;
	top: 110px;
	right: 0px;
	font-size: 24px;
	font-style: italic;
	letter-spacing: 0px;
	width: 960px;
	text-align: right;
}
body#inner div.tagline {
	position: absolute;
	top: 110px;
	right: 0px;
	font-size: 24px;
	font-style: italic;
	letter-spacing: 0px;
	width: 960px;
	text-align: right;
}
div.tagline span {
	font-size: 12px;
}
div.line {
	width: 100%;
	background: url(/resources/templates/book/images/line-bg.jpg) repeat-x left top;
	overflow: hidden;
	max-height:350px;
}
.line div.left-col p {
	line-height: 135%;
	font-size:14px;
}
div.content {
	width: 100%;
	min-height: 450px;
	background: url(/resources/templates/book/images/inner-bg.jpg) no-repeat center top;
}
div.container {
	width: 960px;
	margin: 0px auto;
	position: relative;
}
div.breadcrumbs {
	padding: 20px 0px 40px 0px;
}
div.breadcrumbs img {
	margin: 0px 10px;
}
div.breadcrumbs h1 {
	display: inline;
}
.floats
{
	margin: -20px 0 0 -75px;
	position: relative;
	display: inline-block;
	clear: both;
}
.floats:after
{
	content: '';
	display: block;
	clear: both;
}
.floats .left
{
	position: relative;
	float: left;
	display: inline;
	overflow: hidden;
	margin: 40px 0 0 75px;
	width: 265px;
	font-size: 21px;
	font-style: italic;
	color: #EDDA90;
}
span.description {
	font-size: 13px;
	color: #ffffff;
}
div.left-col {
	float: left;
	width: 550px;
	margin-right: 25px;
	padding: 15px 0px;
}
div.right-col {
	float: left;
	width: 385px;
	padding: 15px 0px;
}
div.box {
	width: 49%;
	float: left;
}
/*
div.box#order p {
	margin-top: -20px;
}
div.box#order h2 {
	position: relative;
}
*/
div.image {
	float: left;
	width: 450px;
}
div.description {
	float: left;
	width: 510px;
	padding-top: 0px;
}
div.footer {
	width: 960px;
	margin: 0px auto;
	font-size: 12px;
	position: relative;
	padding: 15px 0px;
}
div.footer span {
	font-size: 13px;
}
div.footer span strong {
	color: #EDDA90;
	font-size: 30px;
	font-style: italic;
	font-weight: normal;
}
div.powered {
	position: absolute;
	top: 26px;
	right: 0px;
	text-align: right;
}
div.clear {
	width: 100%;
	height: 0px;
	clear: both;
	overflow: hidden;
}

span.red {
	color: red;
}

/**
 * Font faces.
 */

.FontVerdana { font-family: Verdana; }
.FontTahoma { font-family: Tahoma; }
.FontTrebuchet { font-family: 'Trebuchet MS'; }
.FontSans { font-family: sans-serif; }
.FontArial { font-family: Arial; }
.FontHelvetica { font-family: Helvetica; }
.FontComic { font-family: 'Comic Sans MS'; }
.FontCourier { font-family: 'Courier New'; }
.FontTimes { font-family: 'Times New Roman'; }

/**
 * Font sizes.
 */

.Font8px { font-size: 8px; }
.Font9px { font-size: 9px; }
.Font10px { font-size: 10px; }
.Font11px { font-size: 11px; }
.Font12px { font-size: 12px; }
.Font14px { font-size: 14px; }
.Font16px { font-size: 16px; }
.Font18px { font-size: 18px; }
.Font20px { font-size: 20px; }
.Font22px { font-size: 22px; }
.Font24px { font-size: 24px; }
.Font8pt { font-size: 8pt; }
.Font9pt { font-size: 9pt; }
.Font10pt { font-size: 10pt; }
.Font11pt { font-size: 11pt; }
.Font12pt { font-size: 12pt; }
.Font14pt { font-size: 14pt; }
.Font16pt { font-size: 16pt; }
.Font18pt { font-size: 18pt; }
.Font20pt { font-size: 20pt; }
.Font22pt { font-size: 22pt; }
.Font24pt { font-size: 24pt; }
.Font50Percent { font-size: 50%; }
.Font75Percent { font-size: 75%; }
.Font100Percent { font-size: 100%; }
.Font125Percent { font-size: 125%; }
.Font150Percent { font-size: 150%; }
.Font175Percent { font-size: 175%; }
.Font200Percent { font-size: 200%; }

/**
 * Font colors.
 */

.FC01 { color: #000000; }
.FC02 { color: #993300; }
.FC03 { color: #333300; }
.FC04 { color: #003300; }
.FC05 { color: #003366; }
.FC06 { color: #000080; }
.FC07 { color: #333399; }
.FC08 { color: #333333; }
.FC09 { color: #800000; }
.FC10 { color: #FF6600; }
.FC11 { color: #808000; }
.FC12 { color: #008000; }
.FC13 { color: #008080; }
.FC14 { color: #0000FF; }
.FC15 { color: #666699; }
.FC16 { color: #808080; }
.FC17 { color: #FF0000; }
.FC18 { color: #FF9900; }
.FC19 { color: #99CC00; }
.FC20 { color: #339966; }
.FC21 { color: #33CCCC; }
.FC22 { color: #3366FF; }
.FC23 { color: #800080; }
.FC24 { color: #999999; }
.FC25 { color: #FF00FF; }
.FC26 { color: #FFCC00; }
.FC27 { color: #FFFF00; }
.FC28 { color: #00FF00; }
.FC29 { color: #00FFFF; }
.FC30 { color: #00CCFF; }
.FC31 { color: #993366; }
.FC32 { color: #C0C0C0; }
.FC33 { color: #FF99CC; }
.FC34 { color: #FFCC99; }
.FC35 { color: #FFFF99; }
.FC36 { color: #CCFFCC; }
.FC37 { color: #CCFFFF; }
.FC38 { color: #99CCFF; }
.FC39 { color: #CC99FF; }
.FC40 { color: #FFFFFF; }

/**
 * Background colors.
 */

.FC01BG { background-color: #000000; }
.FC02BG { background-color: #993300; }
.FC03BG { background-color: #333300; }
.FC04BG { background-color: #003300; }
.FC05BG { background-color: #003366; }
.FC06BG { background-color: #000080; }
.FC07BG { background-color: #333399; }
.FC08BG { background-color: #333333; }
.FC09BG { background-color: #800000; }
.FC10BG { background-color: #FF6600; }
.FC11BG { background-color: #808000; }
.FC12BG { background-color: #008000; }
.FC13BG { background-color: #008080; }
.FC14BG { background-color: #0000FF; }
.FC15BG { background-color: #666699; }
.FC16BG { background-color: #808080; }
.FC17BG { background-color: #FF0000; }
.FC18BG { background-color: #FF9900; }
.FC19BG { background-color: #99CC00; }
.FC20BG { background-color: #339966; }
.FC21BG { background-color: #33CCCC; }
.FC22BG { background-color: #3366FF; }
.FC23BG { background-color: #800080; }
.FC24BG { background-color: #999999; }
.FC25BG { background-color: #FF00FF; }
.FC26BG { background-color: #FFCC00; }
.FC27BG { background-color: #FFFF00; }
.FC28BG { background-color: #00FF00; }
.FC29BG { background-color: #00FFFF; }
.FC30BG { background-color: #00CCFF; }
.FC31BG { background-color: #993366; }
.FC32BG { background-color: #C0C0C0; }
.FC33BG { background-color: #FF99CC; }
.FC34BG { background-color: #FFCC99; }
.FC35BG { background-color: #FFFF99; }
.FC36BG { background-color: #CCFFCC; }
.FC37BG { background-color: #CCFFFF; }
.FC38BG { background-color: #99CCFF; }
.FC39BG { background-color: #CC99FF; }
.FC40BG { background-color: #FFFFFF; }

/**
 * Indentation.
 */

.Indent1 { margin-left: 40px; }
.Indent2 { margin-left: 80px; }
.Indent3 { margin-left: 120px; }
.Indent4 { margin-left: 160px; }
.Indent5 { margin-left: 200px; }

/**
 * Alignment.
 */

.JustifyLeft { text-align: left; }
.JustifyRight { text-align: right; }
.JustifyCenter { text-align: center; }
.JustifyFull { text-align: justify; }

/**
 * Custom.
 */

q {
}
code {
	font-family: courier, monospace;
	background-color: #eeeeee;
	padding-left: 1px;
	padding-right: 1px;
	border: #c0c0c0 1px solid;
}
kbd {
	padding: 0px 1px 0px 1px;
	border-width: 1px 2px 2px 1px;
	border-style: solid;
}
samp {
}
var {
}
del {
}
ins {
}
cite {
}
.yellow {
    color:#EDDA90
}

#mypopup {
	position: absolute;
	left: 0px;
	width: 100%;
	z-index: 200;
	text-align: center;
	line-height: 0px;
	top: 100px;
}
#dataContainer {
	position: relative;
	background-color: #251010;
	width: 600px;
	height: 400px;
	margin: 0px auto;
	border: 10px solid #400D0D;
	padding: 15px;
	text-align: left;
	line-height: 1.7em;
}
#controlContainer {
	font: 12px Georgia, Helvetica, sans-serif;
	background-color: #251010;
	margin: -10px auto 0px auto;
	line-height: 2em;
	overflow: auto;
	width: 630px;
	border: 10px solid #400D0D;
	border-top: 0px;
	position: relative;
}

#controlContainer #closeAction { width: 66px; height:22px; float: right; padding-bottom: 0.7em; padding-right: 0.7em; outline: none; background: url(/resources/templates/book/images/lightbox/closelabel.gif) left top no-repeat; display: block; }

#my-overlay { position: absolute; top: 0px; left: 0px; z-index: 90; width: 100%; height: 500px; background-color: #251010; }

.search {
	position: absolute;
	top: 95px;
	right: 0px;
	text-align: right;
}
.search .search-input {
	padding-top:5px; padding-bottom:5px;
}
.search-btn {
	background:url(/resources/templates/book/images/ico-search.gif) no-repeat center center;
	height:18px;
	width:18px;
	position:absolute;
	top:5px;
	right:5px;
	border: 0px;
	cursor:pointer;
}
span.btn-order {
	background: #591209;
	color:#ECD990;
	font-size:18px;
	font-weight:normal;
	font-style:italic;
	display:inline-block;
	padding: 5px 18px 8px 18px;
}
span.btn-order a{
	border-bottom:#ECD990 dashed 1px;
	color:#ECD990;
	text-decoration:none;
}
span.btn-order a:hover {
	color:#FFFFFF;
	cursor:pointer;
	border-bottom:#FFFFFF dashed 1px;
	text-decoration:none;
}
div.popup {
	position:absolute;
	border:10px solid #400D0D;
	padding: 10px 30px 5px 30px;
	background:#251010;
	width:500px;
	top:0;
	left:0;
}

/* changed and added styles 12.04.2012 */
.image .price-productlist  {margin-right:0px;}
.callback {position:absolute; right:0px; top:80px; font-style:italic;}
body#inner .callback {position:absolute; right:0px; top:80px; font-style:italic;}
.callback a {text-decoration:none; border-bottom:1px dashed #EDDA90;}
.callback a:hover {color:#FFF; border-bottom:1px dashed #FFF;}

/*logo_onetouch*/
@import url(http://fonts.googleapis.com/css?family=PT+Sans&subset=cyrillic);
.logo_onetouch {
	background: url(http://www.deich.ru/website/daych/template/images/copyright-onetouch.png) no-repeat right center;
	display: inline-block;
	height: 22px;
	padding-right: 52px;
	color: #575757; /* text color */
	font-family: 'PT Sans', sans-serif;
	font-weight: 400;
	font-size: 10px;
	text-align: right;
	line-height: 10px;
}
.logo_onetouch a {
	font-weight: 400;
	color: white; /* text color */
	text-decoration: none;
	cursor: pointer;
}
.logo_onetouch a:hover {text-decoration: underline;}

#leftbar { /* Навигация по сайту */
    width: 200px;
    float: left;
}
#content { /* Основное содержание страницы */
    margin-left: 215px;
    margin-bottom: 15px;
}