<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:flex="http://www.springframework.org/schema/flex"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/flex
           http://www.springframework.org/schema/flex/spring-flex-1.5.xsd
           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		   http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd">
    <context:annotation-config />

    <!--================= Инициализация аутентификации =================-->
    <!--<import resource="classpath:spring-config-administration.xml"/>-->
	

    <!-- ================= Cервисы используемые flexClient ================== -->
    <import resource="classpath:spring-flexServices.xml"/>

    <!--<import resource="classpath:spring-configBD.xml"/>-->
    <!--================= Конфигурация базы данных =====================-->
    <!--<import resource="classpath:spring-configBD-4-web.xml"/>-->
	<import resource="spring-config-cmsBD.xml"/>

    <!--================= Тест флекс =================-->
    <!--<bean id = "testServiseUser" class = "rw.gcktc.usogdp.modelpoligon.ks.testks.service.TestServiseUserDefault">-->
        <!--<property name = "sessionFactory" ref = "mySessionFactory4" />-->
    <!--</bean>-->

    <!--<bean id = "testService" class = "by.nulay.test.TestService">-->
        <!--<property name="name" value="Mihail Kachanouskii"/>-->
    <!--</bean>-->

    <!--================= Инициализация Блазе ДС и его канала my-amf определенного в services-config.xml =================-->
    <flex:message-broker/>
    <!-- для использования только конкретного из множества каналов - раскоментировать далее-->
    <!--<flex:message-broker>-->
    <!--<flex:remoting-service default-channels="my-amf"/>-->
    <!--</flex:message-broker>-->

	<!--
	<bean id = "loginService" class = "rw.gcktc.flex.services.impl.LoginService">
		<property name = "sessionFactory" ref = "sessionFactory" />
    </bean>
	-->

    <mvc:resources mapping="/Main.swf" location="/resources/"/>
    <mvc:resources mapping="/EmulationTwo.swf" location="/resources/"/>
    <mvc:resources mapping="/FirstTool.swf" location="/resources/"/>
    <mvc:resources mapping="/StaModForUser.swf" location="/resources/"/>

    <!--перенаправление адресов-->
    <mvc:view-controller path="/usogdp.html" view-name="usogdpInterfaceStart"/>
</beans>